$background-color: #121212;
$font-color: #ffffff;
$header-footer-background-color: #BB86FC;
$no-decoraters: none;
$box-background-color: #444444;
$background-color-input: #8a8585;
$text-hover-color: #03dac6;