@import '../../../scss/vars';

footer{
    position:fixed;
    bottom:0px;
    background-color:$header-footer-background-color;
    width:100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    color:$font-color
}

.footerItem {
    flex:33%;
}

a {
    text-decoration: $no-decoraters;
}